:root{
    --BLUE: rgb(63, 76, 121);
    --GREEN: rgb(46, 168, 91);
}
@font-face{
	font-family: HEADERS;
    src: url("gravtrac condensed bd.ttf");
}
body{
    margin: 0;
    padding: 0;
    background: white;
    font-family: Arial;
}
header{
	background: url("img/header.gif") no-repeat;
    background-color: white;
	background-size: 100% auto;
    height: 200px;
    width: 100%;
    text-align: center;
    position: relative;
}
    #logo{
        display: block;
        width: 200px;
        height: 200px;
        background: url("img/logo.png") no-repeat, white;
        opacity: 90%;

        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        transition: 1s;
    }
    #logo:hover{
        opacity: 100%;
        cursor: pointer;
    }

	#contacts{
		background: rgba(255, 255, 255, 0.8);
		display: block;
		position: absolute;
		height: 50px;
		width: 137px;
		border-radius: 25px;
		right: 10px;
		bottom: 10px;

		text-align: right;
	}
		#contacts > *{
			display: inline-block;
			margin-right: 10px;
			width: 50px;
			height: 50px;
			opacity: 75%;
		}
			#contacts > *:hover{
				opacity: 100%;
			}
		#contacts img{
			width: inherit;
			height: inherit;
		}

    header.activeWindow #logo{
        top: 50px;
		      opacity: 100%;
		        /*тени*/
		          -webkit-box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 1);
		            -moz-box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 1);
		              box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 1);
    }
article{
    height: auto;
    width: 100%;
}
section{
    height: calc(100vh - 20px);
	min-height: 508px;
    width: calc(100% - 20px);
    padding: 10px;
    color: white;
    overflow-y: visible;
}
    section.blue{
        background: var(--BLUE);
    }
      section.blue a{
        color: var(--GREEN);
      }
    section.green{
        background: var(--GREEN);
    }
      section.green a{
        color: var(--BLUE);
      }
	section.white{
		background: white;
		color: var(--BLUE);
	}
		section.white h2{
			color: var(--GREEN);
		}
		section.white h2:after{
			background: var(--GREEN);
		}
	/*для первой страницы меньший размер*/
	.firstPage{
		height: calc(100vh - 220px);
		min-height: auto;
	}

    .content{
        width: 100%;
        height: calc(100vh - 108px - 20px - 10px);
        /*100vh - высота страницы, 108px - заголовок + его отступы, 20px - паддинг секции, 10px - на строку снизу*/
        position: relative;
    }
	.firstPage .content{
		height: calc(100vh - 108px - 20px - 10px - 200px);
	}
        .container{
            position: absolute;
            top: calc(50%);
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            text-align: center;
			/*height: inherit;*/
        }
            .container > div{
                text-align: center;
                display: inline-block;
                margin: 5px;
                vertical-align: middle;
                min-width: 350px;
                max-width: 70%;
				/*min-height: 400px;*/
            }
				/*классы дивов |^| */
				.single{
					/*в секции 1 див*/
					max-width: 90%;
				}
				.dual{
					max-width: calc(50% - 10px) !important;
				}
h2, #firstPageH2{
    font-family: HEADERS;
    text-align: center;
    font-size: 35pt;
    margin: 20px 0;
	height: 68px;
}
    h2:after{
        content: "";
        display: block;
        width: 60%;
        height: 4px;
        background: white;
        margin: 8px auto;
    }
h3{
    text-align: center;
    margin: 20px;
}

/*
  ОТДЕЛЬНЫЕ ЭЛЕМЕНТЫ
*/
a{
  text-decoration: none;
  color: var(--GREEN);
}
  a:hover{
    text-decoration: underline;
  }
/*
  ДЛЯ КАЖДОЙ СТРАНИЦЫ
*/
/*страница с профоргами*/
.proforg_cards{
  display: inline-block;
  /*height: calc((100vh - 108px - 20px - 10px - 83px)/2)*/;
  margin-bottom: 30px;
  width: 20%;
}
.proforg_cards > *{
  display: block;
  margin: 5px auto;

}
.proforg_cards > img{
  border-radius: 50%;
  width: 130px;
  height: 130px;
}
/*руководители*/
#rukovoditeli_img{
	width: 100%;
}
#rukovoditeli_text p a{
	font-weight: bold;
}
#rukovoditeli_text p{
	margin: 20px 0;
}
/*страница с председателями комиссий*/
.komissii_cards{
	vertical-align: top;
	display: inline-block;
	/*height: calc((100vh - 108px - 20px - 10px - 83px)/2)*/;
	margin-bottom: 30px;
	width: 40%;
	min-width: 260px;
}
.komissii_cards > *{
	display: block;
	margin: 10px auto;
}
.komissii_cards > img{
  border-radius: 50%;
  width: 260px;
  height: 260px;
}
/*страничка для перваков*/
.for_pervokursniki a{
	
}
